.list-group {
	overflow: scroll;
	max-height: 300px;
}

.list-group-item {
	background: #222;
	color: #ddd;
}

lead {
	font-size: 1.3rem;
}

label {
	font-size: 0.9rem;
}

.code {
	font-size: 1rem;
	font-weight: bold;
}

.set-equal {
	color: limegreen;
}

.set-missing {
	color: yellow;
}

.set-extra {
	color: cyan;
}

.set-unimplemented {
	color: #fff2;
}

.set-empty {
	color:orangered;
}
