.settings {
	padding: 1.5rem;
	top: 0;
	left: 0;
	position:fixed;
	background: black;
	width:100%;
	min-height: 5rem;
	margin-bottom: 1rem;
	z-index: 1000;
}

.options-container,
.download-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.expand-btn {
	width: 80%;
	height: 70%;
	margin: 5px;
}

.progress {
	padding: 0 !important;
}
